<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/services">Nos Services</a>
    <a href="/contact">Contactez-nous</a>
  </nav>
  <h1>Contactez-nous</h1>
  <p> ici tout contenu que vous souhaitez pour les contacts.</p>
</body>
</html>
